<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Find and Replace</title>
  </head>
  <body>
    <form class="" action="/replace_form" method="post">
      <input type="text" name="inputString" placeholder="Initial String">
      <input type="text" name="targetWord" placeholder="Target Word">
      <input type="text" name="replaceWord" placeholder="Replace Word">
      <button type="submit" name="button">Replace</button>
    </form>
  </body>
</html>
